{% include base_path %}


<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">

      <p>
      <b><i>
      {% if post.paperurl %}
          <a href="{{ post.paperurl }}">{{ post.title }}</a>
      {% elsif post.paperlink %}
          <a href="{{ base_path }}{{ post.paperlink }}">{{ post.title }}</a>
      {% else %}
          {{ post.title }}
      {% endif %}
      </i></b>

      {% if post.workingpaper %}
      (pre-print)
      {% endif %}

      {% if post.authors %}
      <br>
      {{post.authors}}
      {% endif %}

      {% if post.venue %}
      <br>
      <i>{{ post.venue }}.</i>
      {% endif %}

      {% if post.blogurl or post.bloglink %}
      <br>
      {% if post.blogurl %}
        <a href="{{ post.blogurl }}">Blog post</a>
      {% else %}
        <a href="{{ base_path }}{{ post.bloglink }}">Blog post</a>
      {% endif %}
      {% endif %}


      {% if post.posterurl or post.posterlink %}
        <br>
        {% if post.posterurl %}
          <a href="{{ post.posterurl }}">Poster</a>
        {% else %}
          <a href="{{ base_path }}{{ post.posterlink }}">Poster</a>
        {% endif %}
      {% endif %}
    </p>

  </article>
</div>
